<!--<form action="signup" method="post">-->
  <%= form_tag 'signup' , method: :post do%>
    <%=@student.errors.full_messages.each { |message| puts message}%>
  <table style="margin: 50px auto;background: #ccc;">
    <caption style="margin-bottom:5px;"><h2>Sign up</h2></caption>
    <tr>
      <td>Email</td>
      <td><input type="email" name="student[email]" /></td>
    </tr>
    <tr>
      <td>Password</td>
      <td><input type="password" name="student[password]" /></td>
    </tr>
    <tr>
      <td></td>
      <td><input type="submit" name="fsubmit" value="Sign up" /></td>
    </tr>
  </table>
<!--</form>-->
<% end %>
